/* UTILS
**********************************/
.u-label {
  padding: .5em 0;
}


/* LIST OPTIONS BASIC
**********************************************/
[role="listbox"] {
  max-height: 14em;
  max-width: 40ch;
	padding: 0;
  margin: 0;
	background-color: #fff;
	border: 1px solid #aaa;
	overflow-y: auto;
	position: relative;
}

[role="option"] {
	display: block;
	padding: .4em 1em;
	position: relative;
	line-height: 1.4;
}

[role="option"].focused {
	background-color: #bde4ff;
}
[role="option"]:not(.focused):hover {
	background-color: #def2ff;
}


/* COMBOBOX - goi-combobox
***********************************/
.c-goi-combobox {
  position: relative;
  max-width: 430px;
}
.c-goi-combobox__listbox [role="listbox"] {
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
}
.c-goi-combobox__listbox [role="listbox"]:focus {
  outline: 0;
}
.c-goi-combobox__listbox {
  display: none;
  position: absolute;
  top: calc(100% - 1px);
  width: 100%;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.isOpen .c-goi-combobox__listbox {
  display: block;
  pointer-events: auto;
}
.c-goi-combobox__button {
  box-sizing: border-box;
  width: 100%;
  padding: .6em 2em .6em .6em; 
  border: 1px solid #ccc;
  position: relative;
  text-align: left;
  background-color: #fff;
}

.c-goi-combobox__button::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - .16em);
  right: .9em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .4em .38em 0 .38em;
  border-color: currentColor transparent transparent transparent;
  opacity: .3;
}