
.goi-select {
  position: relative;
}
.goi-combobox {
    padding:1rem .5rem;
    display: inline-block;
    position: relative;
    line-height: 1.4;
}
.goi-combobox::after {
    position: absolute;
    right: 10px;
    top: 2.5px;
    width: 10px;
    height: 10px;
    background-color: red;
}

.goi-combobox[disabled], .goi-combobox[aria-disabled="true"] {
      background-color: #ccc;
      border: 1px solid #333;
    }

  .goi-listbox {
    display: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: #ddd;
    width: 250px;
    position: absolute;
    list-style-type: none;
    z-index: 2;
    max-height: 200px;
    top: 100%; /*the height of the combobox - 1px for the border collapse*/
  }
    .goi-listbox.goi-listbox-show {
      display: block;
    }

    .goi-option {
      padding: .3rem;
      top: 28px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
      cursor: default;
    }
      .goi-option:not([aria-disabled="true"]):hover,
      .goi-option.goi-option-active {
        background-color: #ffdd61;
      }

     .goi-option[aria-disabled="true"] {
        color: #999;
      }

      .goi-option[aria-selected='true'],
      .goi-option[aria-selected='true'].goi-option-active {
        background-color: #4f81e2;
      }
    


/* List option */
[role="listbox"] {
	min-height: 10em;
  max-height: 14em;
  max-width: 40ch;
	padding: 0px;
	background: white;
	border: 1px solid #aaa;
	overflow-y: auto;
	position: relative;
}

[role="option"] {
	display: block;
	padding: 0 1em;
	position: relative;
	line-height: 1.8em;
}

[role="option"].focused {
	background: #bde4ff;
}



/* combo box */
.c-goi-combobox {
  position: relative;
}
.c-goi-combobox__listbox {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
  z-index: 9999;
  pointer-events: none;
}
.isOpen .c-goi-combobox__listbox {
  display: block;
  pointer-events: auto;
}




/*
[role="option"][aria-selected] {
	padding-left: 1.5em;
}

[role="option"][aria-selected="true"]::before {
	content: 'âœ“';
	position: absolute;
	left: 0.5em;
}*/
